.container {
    width: 1300px;
}
.title-page {
    font-weight: bold;
    color: black;
}

img {
    width: 100%;
}

.card-title {
    margin-top: 0;
}

.card-title a {
    font-size: 14px;
    color: black;
    font-weight: bold;
}
.card-text {
    font-size: 9px;
    height: 72px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-top: -14px;
}

.blog-simple {
    margin-bottom: 50px;
}