.page-item.active .page-link{
    z-index: 3;
    color: #fff;
    border-color: #00BC8B;
    background: #00BC8B ;
    padding: 1rem;
    min-width: 50px;
    text-align: center;
}

.page-item.disabled .page-link{
    z-index: 3;
    padding: 1rem;
    min-width: 50px;
    text-align: center;
    border: inherit !important;
}

.modal-header .close{
    margin-top: -1.5rem;
}

.form-title {
    margin: -2rem 0rem 2rem;
}

.btn-round {
    border-radius: 3rem;
}

.delimiter {
    padding: 1rem;
}

.social-buttons .btn {
    margin: 0 0.5rem 1rem;
}

.signup-section {
    padding: 0.3rem 0rem;
}

.show-result-search {
    position: fixed;
    top: 75px;
    left: 55%;
    background: white;
    border: 1px solid yellow;
    width: 23%;
    padding-top: 20px;
    line-height: 40px;
}

.show-result-search img {
    width: 84px;
}

.remove-wishlist-item {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 34px;
    z-index: 1;
    cursor: pointer;
}

.swal2-title {
    line-height: 36px;
}
