.menu {
  height: 75px;
  z-index: 999;
  position: relative;
  padding-left: 0;
  float: left;
  margin-top: -3px;
}
.menu .box-main-menu .main-menu {
  height: 75px;
  line-height: 75px;
}
.menu .box-main-menu .main-menu ul li {
  float: left;
  padding: 0 25px;
  height: 75px;
}
.menu .box-main-menu .main-menu ul li a {
  color: #999;
  text-transform: uppercase;
  font-size: 12px;
}
.menu .box-main-menu .main-menu ul li a:hover {
  color: yellow !important;
}
.menu .box-main-menu .main-menu ul li:hover {
  background: rgba(255, 255, 255, 0.1);
}
.menu .box-main-menu .main-menu ul li.active {
  background: #45464a;
}
.menu .box-main-menu .main-menu ul .item1 {
  border-top: 3px solid #b9d9eb;
}
.menu .box-main-menu .main-menu ul .item2 {
  border-top: 3px solid #71c5e8;
}
.menu .box-main-menu .main-menu ul .item3 {
  border-top: 3px solid #009cde;
}
.menu .box-main-menu .main-menu ul .item4 {
  border-top: 3px solid #cedc00;
}
.menu .box-main-menu .main-menu ul .item5 {
  border-top: 3px solid #ff6766;
}
.menu .box-main-menu .main-menu ul .item6 {
  border-top: 3px solid #ffd429;
}
.menu .box-main-menu .main-menu ul .item7 {
  border-top: 3px solid #ff07f6;
}
.menu .megamenu-parent:hover .vt_megamenu_content {
  opacity: 1;
  filter: alpha(opacity=100);
  margin-top: 0;
  visibility: visible;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.menu .vt_megamenu_content {
  position: absolute;
  width: 1090px;
  left: -130px;
  z-index: 999;
  top: 75px;
  opacity: 0;
  filter: alpha(opacity=0);
  margin-top: 30px;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.menu .mega-menu-02 {
  line-height: initial;
  display: inline-block;
  position: relative;
  padding: 30px;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 5px 0 0 #cccccc;
  background-color: #fff;
  width: 930px;
}
.menu .mega-menu-02 h1 {
  margin: 0;
  font-size: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eaeaea;
  color: #444;
}
.menu .mega-menu-02 .owl-controls {
  position: absolute;
  top: -30px;
  right: 15px;
}
.menu .mega-menu-02 .owl-controls .owl-page {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 1px solid #eaeaea;
  float: left;
  margin-left: 5px;
  border-radius: 100%;
}
.menu .mega-menu-02 .owl-controls .owl-page.active {
  background-color: #ffd429;
  width: 13px;
  height: 13px;
  margin-top: 1px;
  border: none;
}
.menu .mega-menu-01 {
  line-height: initial;
  display: inline-block;
  position: relative;
  padding: 30px;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 5px 0 0 #cccccc;
  background-color: #fff;
}
.menu .mega-menu-01 .menu-01 {
  margin-right: 50px;
}
.menu .mega-menu-01 .menu-01 .title {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 16px;
  position: relative;
  line-height: 20px!important;
}
.menu .mega-menu-01 .menu-01 .title span {
  color: #444;
  font-size: 128.57%;
  text-transform: uppercase;
}
.menu .mega-menu-01 .menu-01 .title .new {
  background-color: #85d576;
  border-radius: 6px;
  color: #fff !important;
  display: inline-block;
  font-size: 71.43% !important;
  margin-left: 6px;
  padding: 3px 8px;
  position: absolute;
  top: 2px;
  line-height: 8px;
}
.menu .mega-menu-01 .menu-01 .title .hot {
  background-color: #fe2828;
  border-radius: 6px;
  color: #fff !important;
  display: inline-block;
  font-size: 71.43% !important;
  margin-left: 6px;
  padding: 3px 8px;
  position: absolute;
  top: 2px;
  line-height: 8px;
}
.menu .mega-menu-01 .menu-01 .content-col li {
  margin-top: 16px;
  border-bottom: 1px solid #eaeaea;
  padding: 0 0 10px 0;
  width: 100%;
  text-align: left;
  height: auto!important;
}
.menu .mega-menu-01 .menu-01 .content-col li:hover {
  background-color: transparent;
}
.menu .mega-menu-01 .menu-01 .content-col li a {
  padding-left: 25px;
  display: inline-block;
  position: relative;
  color: #444;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  text-transform: capitalize;
  font-size: 14px;
}
.menu .mega-menu-01 .menu-01 .content-col li a:before {
  font-family: FontAwesome;
  content: "\f1db";
  font-size: 12px;
  color: #444;
  position: absolute;
  top: 4px;
  left: 0;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.menu .mega-menu-01 .menu-01 .content-col li a:hover {
  color: #ffd429;
}
.menu .mega-menu-01 .menu-01 .content-col li a:hover:before {
  color: #ffd429;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
}
.menu .mega-menu-01 .menu-01 .content-col li a.mega-lap:before {
  content: "\f109";
}
.menu .mega-menu-01 .menu-01 .content-col li a.mega-tvi:before {
  content: "\f108";
}
.menu .mega-menu-01 .menu-01 .content-col li a.mega-mob:before {
  content: "\f10b";
}
.menu .mega-menu-01 .menu-01 .content-col li a.mega-tab:before {
  content: "\f10a";
}
.menu .mega-menu-01 .menu-01 .content-col li a.mega-cam:before {
  content: "\f030";
}
.menu .mega-menu-01 .menu-01 .content-col li a.mega-rad:before {
  content: "\f09b";
}
.menu .mega-menu-01 .menu-01.menu-01-cate,
.menu .mega-menu-01 .menu-01.menu-01-top {
  width: 170px;
  float: left;
}
.menu .mega-menu-01 .menu-01.menu-01-feature,
.menu .mega-menu-01 .menu-01.menu-01-sale {
  width: 270px;
  float: left;
}
.menu .mega-menu-01 .menu-01.menu-01-sale {
  margin-right: 0;
}
.menu .mega-menu-01 img {
  width: 100%;
}
.menu .mega-menu-01 #feature {
  position: relative;
}
.menu .mega-menu-01 #feature .image {
  border: 1px solid #eaeaea;
  border-radius: 6px;
  margin-top: 20px;
  overflow: hidden;
  margin-bottom: 16px;
}
.menu .mega-menu-01 #feature .carousel-indicators {
  top: 260px;
  height: 20px;
}
.menu .mega-menu-01 #feature .carousel-indicators li {
  background-color: #fff;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #eaeaea;
  margin: 0;
}
.menu .mega-menu-01 #feature .carousel-indicators li.active {
  background-color: #ffd429;
  border-color: transparent;
}
.menu .mega-menu-01 #feature .carousel-caption-feature .title-advan .name-advan {
  text-transform: uppercase;
  color: #444;
}
.menu .mega-menu-01 #feature .carousel-caption-feature .title-advan .text-des-advan {
  display: inline-block;
  margin-top: 10px;
  color: #444;
  font-size: 12px;
}
.menu .mega-menu-01 .menu-01-sale .content {
  margin-top: 20px;
}
.menu .mega-menu-01 .menu-01-sale .content img {
  border-radius: 6px;
  border: 1px solid #eaeaea;
}
.menu .mega-menu-01 .menu-01-sale .content .description {
  display: inline-block;
  margin-top: 14px;
  color: #444;
  font-size: 12px;
}
.shop-now a {
  padding: 7px 22px;
  border: 1px solid #eaeaea;
  border-radius: 5px;
  padding-top: 5px;
  display: inline-block;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  color: #444!important;
  text-transform: capitalize!important;
}
